@import url("reset.css");
@import url("global.css");

.s-wrapper {
  display: flex;
  height: 100vh;
  flex-flow: row nowrap;
  background-color: blue;
}

.s-wrapper .s-left-column {
  width: 14vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.s-wrapper .s-main-content {
  height: 100%;
  width: 100%;
  padding-left: 130px;
  position: relative;
  background-color: gray;
}

.s-navigator {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.s-navigator ul li {
    margin: 4rem;
}

.s-navigator ul li:first-child {
    margin-top: 0;
}

.s-navigator ul li:last-child {
    margin-bottom: 0;
}

.s-navigator ul li a {
    color: #fff;
    border: solid 2px #fff;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    position: relative;
}

.s-navigator::before {
    content: "";
    position: relative;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: #fff;
}

.s-navigator ul {
    position: absolute;
}

.s-navigator ul li a:hover, .navigator ul li a.active {
    color: var(--primary-color);
    background-color: #fff;
}

.s-navigator .s-navigator__icon {
    position: absolute;
    top: -3rem;
}